.App {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  text-align: center;
}
@keyframes slide {
  100% { left: 0; }
}
.App h1 {
  animation: slide 2s forwards;
  font-size: 4rem;
  font-weight: bold;
  left: -100rem;
  position: relative;
  top: 8rem;
  word-wrap: break-word;
}
.home {
  background-image: url('../main.jpg'), linear-gradient(rgba(65, 181, 232, 0.1), rgba(65, 181, 232, 1));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}
.welcome {
  font-size: 1.5rem;
  position: relative;
  top: 15rem;
}
.hidden {
  height: 0px;
  visibility: hidden;
  width: 0px;
}
.visible {
  visibility: visible;
}
.login-links {
  animation: appear 3s forwards;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  position: relative;
  top: 8rem;
}
.login-links a {
  border-bottom: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.6rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 20px; 
}
.login-links a:hover {
  background-color: white;
  border-radius: 7px;
  color: rgb(49, 140, 179);
  text-decoration: none;
}
.app-form {
  background-image: url('../bg.jpg'), linear-gradient(rgba(65, 181, 232, 0.1), rgba(65, 181, 232, 1));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.app-form h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.app-form form {
  margin: 0 auto;
}
.logo {
  font-size: 2.5rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}
.new-budget {
  padding-bottom: 6rem;
}
.user-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 4rem;
  margin-left: 1rem;
  padding: 0.7rem;
  width: 50%;
}
.user-input::placeholder {
  color: white;
  font-weight: bold;
}
.app-btn {
  background-color: rgba(151, 228, 148, 1);
  border: 1px solid rgba(151, 228, 148, 1);
  border-radius: 7px;
  color: white;
  font-weight: bold;
  padding: 0.8rem;
}
.budgets {
  background-color: rgba(243, 244, 246, 1);
  height: 100%;
}
.user-budgets {
  background-color: rgba(243, 244, 246, 1);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}
.budget-page-title {
  background-color: rgba(243, 244, 246, 1);
  color: #9da9b5;
  margin-bottom: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.budget-details {
  color: black;
  margin: 0 auto;
  width: 45%;
}
.details-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.budget-name {
  background-color: white;
  border: 2px solid #ecebec;
  font-size: 1.5rem;
  padding: 3rem;
  margin-bottom: 1rem;
}
.budget-name button {
  background-color: inherit;
  border: none;
  color: #f2181f;
  padding: 0.3rem;
}
.budget-name button:hover {
  background-color: #f2181f;
  border-radius: 7px;
  color: white;
}
.b-content { color: #475e77; }
.b-detail {
  background-color: white;
  border: 2px solid #ecebec;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 4;
  margin-bottom: 1rem;
  text-align: center;
  width: 45%
}
.b-detail a {
  border-radius: 7px;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
}
.b-detail a:hover {
  background-color: white;
  color: rgba(151, 228, 148, 1);
  text-decoration: none;
}
.desc { color: #d8dce1; }
.links {
  background-color: rgba(151, 228, 148, 1);
}
.totals {
  background-color: rgba(243, 244, 246, 1);
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.totals h2 {
  margin-bottom: 1.5rem;
}
.totals form {
  padding-bottom: 5rem;
}
.totals-form {
  background-color: rgba(65, 181, 232, 1);
  padding-bottom: 6rem;
  padding-top: 1rem;
}

/* User Profile */

.header {
  background-color: rgba(65, 181, 232, 1);
  padding: 2rem;
}
.user-info {
  background-color: white;
  position: relative;
  top: 1rem;
}
.profile-name {
  color: #6c7e92;
  display: flex;
  flex-direction: row;
}
.profile-name img {
  margin-left: 2rem;
  margin-top: 0.7rem;
}
.profile-name h3 {
  margin-left: 0.7rem;
  margin-top: 0.7rem;
}
.profile-email {
  color: rgba(65, 181, 232, 1);
  float: left;
  font-size: 80%;
  line-height: 0.1;
  margin-left: 5rem;
  margin-top: 1rem;
}

/* Budgets Page */

.single-budget-area {
  background-color: rgba(243, 244, 246, 1);
  height: 100%;
}
.single-budgets {
  color: black;
  margin: 0 auto;
  margin-top: 2rem;
  width: 45%;
}

/* Budget Totals Page */

.totals-area {
  background-color: rgba(243, 244, 246, 1);
  height: auto;
  padding: 2rem;
}
.each-total {
  border: 2px solid #ecebec;
  border-radius: 7px;
  color: #475e77;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 80%;
}
.total-detail {
  background-color: white;
  border: 1px solid #ecebec;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 30%;
}
.total-detail span {
  color: rgba(151, 228, 148, 1);
}
.total-detail button {
  background-color: inherit;
  border: none;
  color: #f2181f;
  padding: 0.3rem;
}
.total-detail button:hover {
  background-color: #f2181f;
  border-radius: 7px;
  color: white;
}
.date-span { color: #f2181f !important; }

/* Footer */

.footer {
  background-color: #313843;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 10;
}
.footer a {
  color: #676c74;
  padding: 2rem;
  text-decoration: none;
  width: 25%;
}
.footer a:hover {
  background-color: rgba(65, 181, 232, 1);
  color: white;
  font-weight: bold;
}

/* Media Queries */

@media only screen and (max-width: 800px) {
  .total-detail {
    align-content: center;
    display: flex;
    justify-content: center;
    width: 40%;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .user-input {
    width: 80%;
  }
  .total-detail {
    font-size: 80%;
  }
  .single-budgets {
    width: 98%;
  }
  .header {
    margin-top: -1rem;
  }
  .app-btn {
    margin-bottom: 2rem;
  }
  .totals-form h5 {
    margin-top: 2rem;
  }
}