body { font-family: Helvetica, sans-serif; }
.App {
  color: white;
  height: 100vh;
  overflow: scroll;
  text-align: center;
}
.App h1 {
  font-size: 4rem;
  position: relative;
  top: 10rem;
  word-wrap: break-word;
}
.home {
  background-color: rgba(65, 181, 232, 1);
}
.hidden {
  height: 0px;
  visibility: hidden;
  width: 0px;
}
.visible {
  visibility: visible;
}
.login-links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  position: relative;
  top: 14rem;
}
.login-links a {
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 25%; 
}
.login-links a:hover {
  background-color: white;
  color: rgb(49, 140, 179);
  text-decoration: underline;
}
.logo {
  left: 41.5%;
  position: absolute;
  top: -60%;
}
.login-form {
  position: relative;
  top: 30%;
}
.user-input {
  background-color: rgba(65, 181, 232, 1);
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  margin-bottom: 2rem;
  padding: 1.2rem;
}
.user-input::placeholder {
  color: white;
  opacity: 0.7;
}
.app-btn {
  background-color: rgba(151, 228, 148, 1);
  border: 1px solid rgba(151, 228, 148, 1);
  border-radius: 7px;
  color: white;
  padding: 0.8rem;
  width: 15%;
}
.user-budgets {
  background-color: rgba(243, 244, 246, 1);
  position: relative;
  top: 5rem;
}
.user-budgets h2 {
  position: relative;
  top: -4rem;
}
.user-budgets h3 {
  color: #9da9b5;
}
.budget-details {
  /* border: 1px solid red; */
  color: black;
  margin: 0 auto;
  margin-bottom: 4rem;
  width: 45%;
}
.details-wrapper {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.budget-name {
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: 1rem;
}
.b-content { color: #475e77; }
.b-detail {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 2.5;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  width: 45%
}
.b-detail a {
  background-color: rgba(151, 228, 148, 1);
  border-radius: 7px;
  color: white;
  line-height: 1;
  padding: 0.5rem;
}
.desc { color: #d8dce1; }
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.totals {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.totals h2 {
  margin-bottom: 1.5rem;
}

/* User Profile */

.header {
  background-color: rgba(65, 181, 232, 1);
  padding: 2rem;
}
.user-info {
  background-color: white;
  position: relative;
  top: 1rem;
}
.profile-name {
  color: #6c7e92;
  display: flex;
  flex-direction: row;
}
.profile-name img {
  border: 2px solid #676c74;
  border-radius: 50%;
  margin-left: 1rem;
  margin-top: 0.7rem;
  width: 3%;
}
.profile-name h3 {
  margin-left: 0.7rem;
  margin-top: 0.7rem;
}
.profile-email {
  color: rgba(65, 181, 232, 1);
  font-size: 0.9rem;
  position: relative;
  right: 31.4rem;
}

/* Footer */

.footer {
  background-color: #313843;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 100px;
  position: absolute;
  width: 100%;
}
.footer a {
  color: #676c74;
  padding: 2rem;
  text-decoration: none;
  width: 25%;
}
.footer a:hover {
  background-color: rgba(65, 181, 232, 1);
  color: white;
  font-weight: bold;
}